{% extends 'layout_ingame.html.twig' %}
{#{% block navegacion %}#}

{#{% endblock %}#}
{% block izq %}
    <div id="base_nav">
        <ul>
            <li>{{ user.principalCharacter }} </li>
            <li>CYBERWARES</li>
            <li>MERCADO</li>
            <li>OPCION 4</li>
        </ul>


    </div>

{% endblock %}
{% block centro %}


        <h1>Bienvenido a la base {{ user.nickname }}</h1>

        <h3>Comandante:   {% if user.principalCharacter %}{{ user.principalCharacter }} [{{ user.principalCharacter.class }}] {% endif %}</h3>
        <ul>
            <li>Créditos: {{ user.credits }}</li>
            <li>Cash: {{ user.cash }}</li>
            <li>Reputation: {{ user.reputation }}</li>
            <ul>
                {% for soldado in user.soldiers %}
                    <li>Soldado: {{ soldado }} del tipo {{ soldado.class }}</li>
                {% endfor %}
            </ul>
        </ul>


    <style>
        body{
            background: url('{{ asset('fondos/dormitorio.jpg') }}');
            /*background-size: cover;*/
            background-size: cover;
            background-position: left;

        }
    </style>
{% endblock %}

