{% extends 'layout_ingame.html.twig' %}
{% block navegacion %}
    <div class="hd_nickname"><a>{{ user.nickname }}</a></div>
    {#<div class="rrsst">{{ user.nickname }}</div>#}

    <div class="hd_inimg"></div>
    <div class="hd_icono icono_mapa" ><p id="btn_mapa">MAPA</p></div>
    <div class="hd_icono icono_perfil"><p id="btn_perfil">PERFIL</p></div>
{% endblock %}
{% block centro %}

        <a href="{{ path('usuario_logout') }}">DESCONECTAR</a>
        <h1>Bienvenido a la base {{ user.nickname }}</h1>

        <h3>Comandante:   {% if user.principalCharacter %}{{ user.principalCharacter }} [{{ user.principalCharacter.class }}] {% endif %}</h3>
        <ul>
            <li>Créditos: {{ user.credits }}</li>
            <li>Cash: {{ user.cash }}</li>
            <li>Reputation: {{ user.reputation }}</li>
            <ul>
                {% for soldado in user.soldiers %}
                    <li>Soldado: {{ soldado }} del tipo {{ soldado.class }}</li>
                {% endfor %}
            </ul>
        </ul>


    <style>
        body{
            background: url('{{ asset('fondos/dormitorio.jpg') }}');
            /*background-size: cover;*/
            background-size: cover;
            background-position: left;

        }
    </style>
{% endblock %}

