{% extends 'pruebas/base_usuario.html.twig' %}

{% block centro %}
{% set pcClass = user.principalCharacter.class %}
        <div id="tablas_stats">
            <div class="tabla_detalles">
                <div class="pc_image" style="background:url({{ asset('recursos/principalCharacterImages/'~user.principalCharacter.class.image) }}); background-repeat: no-repeat; -webkit-background-size: 130px 290px;background-size: 130px 290px;"></div>
                <div class="pc_stats">
                    <ul>
                        {% if user.principalCharacter.class %}
                        <li class="letra_lvl">Level:{{ user.principalCharacter.level|upper }} <span class="letra_pc_class">CLASS: <span>{{ pcClass }}</span></span></li>
                        <li class="letra_stat">HP:  {{ hp }}</li>
                        <li class="letra_stat">DMG: {{ dmg }}</li>
                        <li class="letra_stat">DEF: {{ def}}</li>
                        <li class="letra_stat">AGI: {{  agi }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div  class=tabla_equipo>
                <p class="titulo_equipo"> <span class="letra_equipo">CABEZA_</span>
                    {% if user.principalCharacter.equipedHelmet %}
                    <span class="letra_equipo_sub">EQUIPADO</span>
                </p>

                <p>
                    <span class="nombre_arma">{% if user.principalCharacter.equipedHelmet %}{{ user.principalCharacter.equipedHelmet.name|upper  }}{% endif %}</span>
                </p>

                <p><span class="letra_stat">DEF</span><span class="num_stat">{% if user.principalCharacter.equipedHelmet %}{{ user.principalCharacter.equipedHelmet.defense }}{% endif %}</span></p>
                <p><span class="letra_stat">VLR</span><span class="num_stat">{% if user.principalCharacter.equipedHelmet %}{{ user.principalCharacter.equipedHelmet.value }}{% endif %}</span></p>
                {% endif %}
                <p><span class="letra_stat">...</span></p>
            </div>
            <div class=tabla_equipo>
                <p class="titulo_equipo"> <span class="letra_equipo">CUERPO_</span>
                    {% if user.principalCharacter.equipedJacket %}
                    <span class="letra_equipo_sub">EQUIPADO</span>
                </p>

                <p>
                    <span class="nombre_arma">{% if user.principalCharacter.equipedJacket %}{{ user.principalCharacter.equipedJacket.name|upper  }}{% endif %}</span>
                </p>

                <p><span class="letra_stat">DEF</span><span class="num_stat">{% if user.principalCharacter.equipedJacket %}{{ user.principalCharacter.equipedJacket.defense }}{% endif %}</span></p>
                <p><span class="letra_stat">VLR</span><span class="num_stat">{% if user.principalCharacter.equipedJacket %}{{ user.principalCharacter.equipedJacket.value }}{% endif %}</span></p>
                {% endif %}
                <p><span class="letra_stat">...</span></p>
            </div>
            <div class=tabla_equipo>
                <p class="titulo_equipo"> <span class="letra_equipo">ARMA_</span>
                    {% if user.principalCharacter.equipedWeapon %}
                    <span class="letra_equipo_sub">EQUIPADO</span>
                </p>

                <p>
                    <span class="nombre_arma">{% if user.principalCharacter.equipedWeapon %}{{ user.principalCharacter.equipedWeapon.name|upper }}{% endif %}</span>
                </p>

                <p><span class="letra_stat">DMG</span><span class="num_stat">{% if user.principalCharacter.equipedWeapon %}{{ user.principalCharacter.equipedWeapon.damage }}{% endif %}</span></p>
                <p><span class="letra_stat">VLR</span><span class="num_stat">{% if user.principalCharacter.equipedWeapon %}{{ user.principalCharacter.equipedWeapon.value }}{% endif %}</span></p>
                {% endif %}
                <p><span class="letra_stat">...</span></p>

            </div>
            <div class=tabla_equipo>
                <p class="titulo_equipo"> <span class="letra_equipo">NEURO-IMPLANTE_</span>
                    {% if user.principalCharacter.equipedNeuroimplant %}
                    <span class="letra_equipo_sub">EQUIPADO</span>
                </p>

                <p>
                    <span class="nombre_arma">{% if user.principalCharacter.equipedNeuroimplant %}{{ user.principalCharacter.equipedNeuroimplant.name|upper  }}{% endif %}</span>
                </p>

                <p><span class="letra_stat">AGI</span><span class="num_stat">{% if user.principalCharacter.equipedNeuroimplant %}{{ user.principalCharacter.equipedNeuroimplant.agility }}{% endif %}</span></p>
                <p><span class="letra_stat">VLR</span><span class="num_stat">{% if user.principalCharacter.equipedNeuroimplant %}{{ user.principalCharacter.equipedNeuroimplant.value }}{% endif %}</span></p>
                {% endif %}
                <p><span class="letra_stat">...</span></p>
            </div>
        </div>




{%   set clr_main_claro = "#222222" %}
    <style>

        header ul{
            margin:1em 1.2em 1em;
        }
        header > ul li{
            list-style: none;
            display:inline-block;
            color:var(--color-borde-azul);
            padding:0 5.5em 0;
            border-bottom: 0.05em solid #020202;
            font-family: Tunga;
            font-weight: bolder;
        }
        header li:hover{
            background-color:var(--color-borde-rosa);
        }
        nav{
            margin-top:-0.9em;
            margin-left: 1.2em;
        }
        nav span{
            margin-right:1em;
        }
        /*.letra_top{*/
            /*font-family: MatrixBook;*/
            /*font-weight: bolder;*/
            /*color: var(--color-neon);*/
        /*}*/
        .letra_sub{
            font-weight: bold;
            font-family: candara;
            font-style: italic;
            color: var(--color-borde-azul);
        }
        .letra_lvl{
            font-family: MatrixBoldSmallCaps;
            color: var(--color-borde-azul);
        }

        .letra_pc_class{
            color:var(--color-borde-rosa);
            margin-left:2em;
        }



        .letra_pc_class > span {
            color:white;
        }


        #tablas_stats{
            margin:2.5em 1em 0.5em;
            width: 30%;
        }

        #tablas_stats .tabla_detalles{
            border:1px solid var(--color-borde-rosa);
            background-color: var(--bg-color-test1);
            position:fixed;
            left: 800px;
            width: 35%;
            display:flex;
        }

        .pc_image{
            position: relative;
            /*display:flex;*/
            /*left: 8em;*/
            width: 20vw;
            height: 65vh;
        }

        .pc_stats{
            margin-left: -3.5em;
        }

        .tabla_equipo{
            width:80%;
            display:inline-block;
            border-top: 1px outset var(--color-borde-rosa);
            border-bottom: 1px inset var(--color-borde-rosa);
            border-left:1px outset var(--color-borde-rosa);
            border-right:1px inset var(--color-borde-rosa);
            margin-top:0.3em;
        }
        .tabla_equipo:hover{
            background-color: var(--color-green-soft);

        }
        .letra_top{
            font-family: MatrixBook;
            font-weight: bolder;
            color: var(--color-neon);
        }
        .letra_sub{
            font-weight: bold;
            font-family: candara;
            font-style: italic;
            color: var(--color-borde-azul);
        }
        .letra_lvl{
            font-family: MatrixBoldSmallCaps;
            color:  var(--color-borde-azul);
        }
        .letra_equipo{

            font-family: MatrixBook;
            font-weight: bolder;
            color: black;
        }
        .letra_equipo_sub{

            font-family: MatrixBook;
            font-weight: lighter;
            color: var(--color-borde-azul);
        }
        .nombre_arma{
            margin-left:20%;
            font-family:ModMatrix;
            color: var(--color-borde-rosa);
        }
        .letra_stat{
            margin-left: 20%;
            font-family: ModMatrix;
            color: var(--color-neon);
        }
        .num_stat{
            position:absolute;
            left:24%;
            color:white;
            text-align: center;
        }
        .titulo_equipo{
            border-bottom: 0.5px solid var(--color-borde-azul);
        }

        {#.resaltado{#}
            {#background-color:{{ clr_hover }};#}
        {#}#}
    </style>

{% endblock %}

