{% extends 'layout_ingame.html.twig' %}
{% block centro %}
<div id="div_mapa">
    {% for d in validDistricts %}
    <p>{{ d.getNumber }}</p>
    {% endfor %}
    <span class="mi_tooltip"></span>
    <svg id="map_svg">
        <g>
            {% for d1 in districts %}
            <path id="DT-{{ d1.getNumber }}" district="{{ d1.getName }}" title="{{ d1.getName }}" class="{% if reputation > d1.getReputation %}land{% endif %}" d="{{ d1.getShape }}"/>
            {% endfor %}
        </g>
    </svg>
</div>
    <style>
        body{
            background: #222222;
        }
        #div_mapa{
         position: relative;
        }
        .land{
            fill: #CCCCCC;
            fill-opacity: 1;
            stroke:white;
            stroke-opacity: 1;
            stroke-width:0.5;
        }
        .land:hover {
            fill: #00daff;;
            box-shadow: 2em 2em #0fe87f;
            cursor: pointer;
        }

        #map_svg{
         position:fixed;
            left: 10em;
            top:0;
            text-shadow: -1px 1px #ec008c, -2px 0px #ec008c, 1px 1px #0fe87f, 2px 2px #00daff;
        }
        .mi_tooltip{
            visibility:hidden;
            width: 200px;
            background-color: dimgrey;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            opacity: 0.8;
            border: 1px solid black;
            text-shadow: -1px 1px #ec008c, -2px 0px #ec008c, 1px 1px #0fe87f, 2px 2px #00daff;
        }
        .land_blocked{
            background-color: darkred;
        }


    </style>
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}