{% extends 'pruebas/base_usuario.html.twig' %}

{% block centro %}

    <div id="inventario">
        <h3>INVENTARIO</h3>
        <p>CAPACITY: {{ inventory.currentCapacity }}/{{ inventory.maxCapacity }}</p>
        <nav>
            <ul>
                <li class="letra_equipo">ARMAS</li>
                <li class="letra_equipo">ITEM</li>
                <li class="letra_equipo">ITEM</li>
                <li class="letra_equipo">ITEM</li>
            </ul>
        </nav>


        <div class="tabla_detalles">
        </div>
        <div id="inventario_armas" class="inventario_seccion  {% if section == 1  %} inventario_activo {% else %} inventario_inactivo{% endif %}">

                <table class="tabla_items">
                    {% for arma in inventory.weapons %}
                        <tr class="inventario_item">
                            <td class="arma_nombre item_td">{{ arma.name }}</td><td class="arma_daño item_td">{{ arma.damage }}</td><td class="arma_valor item_td">{{ arma.value }}</td>
                            {% if arma.equiped %}<td class="item_td equipado">E</td>{% else %} <td class="item_td btn_equip"> <a href="{{ path('equipar_arma', {'weapon':arma.id}) }}">[...]</a></td> {% endif %}
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function(){
           var btns = document.getElementsByClassName("letra_equipo");
           var secciones = document.getElementsByClassName("inventario_seccion");
           for (let i= 0; i < secciones.length; i++){
               secciones[i].style.display = "none";
           }
           var activo = document.getElementsByClassName("inventario_activo")[0];
           activo.style.display = "block";
           for (let i=0;i<btns.length;i++){
               //sustituir la función anónima por cambiarSeccion()
               btns[i].addEventListener("click", function(){
                   var clase = "inventario_" + this.innerText.toLowerCase();
                   var seccion_items = document.getElementById(clase);
                   if (seccion_items.style.display == "block"){
                       seccion_items.style.display = "none";
                   } else{
                       seccion_items.style.display = "block";
                   }
               })
           }
        });

        function cambiarSeccion(){

        }
    </script>

{% endblock %}

