{% extends 'pruebas/base_usuario.html.twig' %}

{% block centro %}

    <div id="inventario">
        <h3>INVENTARIO</h3>
        <p>CAPACITY: {{ inventory.currentCapacity }}/{{ inventory.maxCapacity }}</p>
        <nav>
            <ul>
                <li class="letra_equipo">ARMAS</li>
                <li class="letra_equipo">CASCOS</li>
                <li class="letra_equipo">CHAQUETAS</li>
                <li class="letra_equipo">NEURO-IMPLANTES</li>
            </ul>
        </nav>

{% block inventario %}

        <div class="inventario_seccion ">
            <div class="tabla_detalles tabla_armas">
                <p>aqui van los detalles</p>
            </div>
                <table id="tabla_armas" class="tabla_items  {% if section == 1  %} inventario_activo {% else %} tabla_oculta{% endif %}">
                    {% for arma in inventory.weapons %}
                        <tr class="inventario_item">
                            <td class="arma_nombre item_td">{{ arma.name }}</td><td class="arma_da単o item_td">{{ arma.damage }}</td><td class="arma_valor item_td">{{ arma.value }}</td>
                            {% if arma.equiped %}<td class="item_td equipado">E</td>{% else %} <td class="item_td btn_equip"> <a href="{{ path('equipar_arma',  {'weapon':arma.id}) }}">[...]</a></td> {% endif %}
                        </tr>
                    {% endfor %}
                </table>

            <table id ="tabla_cascos" class="tabla_items  {% if section == 2  %} inventario_activo {% else %} tabla_oculta{% endif %}">
                {% for helmet in inventory.helmets %}
                    <tr class="inventario_item">
                        <td class="arma_nombre item_td">{{ helmet.name }}</td><td class="arma_da単o item_td">{{ helmet.defense }}</td><td class="arma_valor item_td">{{ helmet.value }}</td>
                        {% if helmet.equiped %}<td class="item_td equipado">E</td>{% else %} <td class="item_td btn_equip"> <a href="{{ path('equipar_casco',  {'helmet':helmet.id} ) }}">[...]</a></td> {% endif %}
                    </tr>
                {% endfor %}
            </table>

            <table id ="tabla_chaquetas" class="tabla_items  {% if section == 3  %} inventario_activo {% else %} tabla_oculta{% endif %}">
                {% for jacket in inventory.jackets %}
                    <tr class="inventario_item">
                        <td class="arma_nombre item_td">{{ jacket.name }}</td><td class="arma_da単o item_td">{{ jacket.defense }}</td><td class="arma_valor item_td">{{ jacket.value }}</td>
                        {% if jacket.equiped %}<td class="item_td equipado">E</td>{% else %} <td class="item_td btn_equip"> <a href="{{ path('equipar_chaqueta', {'jacket':jacket.id}) }}">[...]</a></td> {% endif %}
                    </tr>
                {% endfor %}
            </table>


            <table id ="tabla_neuro-implantes" class="tabla_items  {% if section == 4  %} inventario_activo {% else %} tabla_oculta{% endif %}">
                {% for neuroimplant in inventory.neuroimplants %}
                    <tr class="inventario_item">
                        <td class="arma_nombre item_td">{{ neuroimplant.name }}</td><td class="arma_da単o item_td">{{ neuroimplant.agility }}</td><td class="arma_valor item_td">{{ neuroimplant.value }}</td>
                        {% if neuroimplant.equiped %}<td class="item_td equipado">E</td>{% else %} <td class="item_td btn_equip"> <a href="{{ path('equipar_neuroimplante', {'neuroimplant':neuroimplant.id}) }}">[...]</a></td> {% endif %}
                    </tr>
                {% endfor %}
            </table>

        </div>



{% endblock %}
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function(){

          var btns = document.getElementsByClassName("letra_equipo");

          for (let i=0; i<btns.length; i++){
              btns[i].addEventListener("click", cambiarSeccion);

          }

        });

        function cambiarSeccion(){
            var tables = document.getElementsByClassName("tabla_items");
            for(let j=0; j<tables.length; j++){
                tables[j].classList.add("tabla_oculta");
            }
            console.log(this.innerText);
            var table = document.getElementById("tabla_"+this.innerText.toLowerCase());
            table.classList.remove("tabla_oculta");
        }
    </script>

{% endblock %}

